# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dll

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
doc/test-coverage/
.coverage
.coverage.*
.pytest_cache/

# Environments
.venv
*.env

# pyenv
.python-version

# OS specific caches
Thumbs.db
*.DS_Store

# Development
.project
.pydevproject
.settings
.idea/
.history/
.vscode/
