# -----------------------------------------------------------------------------
# vfxtest config file
# -----------------------------------------------------------------------------
# (This is essentially just a json file that supports comments)

{
    "output_folder" : "./.output",
    # "debug_mode" : false,

    "omit_coverage" :
    [
        "*/mocked_cmds.py",
        "*/complexDialog.py",
        "*/PySide/*",
        "*/PySide2/*",
        "*/shiboken2/*",
        "*/tests/*",
        "*/tk-core/*"
    ],

    # -------------------------------------------------------------------------
    "context_details" :
    {
        # -------------------------------------------------
        "python" :
        {
            "nested_contexts" :
            [
                "python2.x"
                ,
                "python3.x"
            ]
        },
        # -------------------------------------------------
        "python2.x" :
        {
            "executable" : "c:/python27/python.exe"
        },
        # -------------------------------------------------
        "python3.x" :
        {
            "executable" : "c:/python37/python.exe"
        }
    }
}
