

QWidget {
    margin:0px 0px;
    padding:0px 0px;
    border:0px;
    color: #bfc2c2;
    background-color:#444444;
}

QWidget[labelClass="splashscreen"] {
    border: 1px solid #5d5d5d;
}

QWidget[labelClass="Headline"] {
    background-color: #00a1d1;
    border-radius: 3px;
    padding:10px 30px;
    color:#eeeeee;
}

QDialog  {
    margin:0px 0px;
    padding:0px 0px;
    background-color:#444444;
}


QHBoxLayout  {
    margin:0px 0px;
    padding:0px 0px;
    border:0px;
}

QVBoxLayout  {
    margin:0px 0px;
    padding:0px 0px;
    border:0px;
}

QSpacerItem {
    margin:0px 0px;
    padding:0px 0px;
}

QLineEdit {
    background-color:#2b2b2b;
    /*padding: 1px 0px 1px 10px;*/
    padding: 1px 0px 1px 2px;

    border: 1px solid #5d5d5d;
    border: 1px solid #545353;
    border-radius:2px;
    /*font-size:12px;*/
}

QLineEdit[labelClass="readonly"]{

    color:#858585;
}

QLineEdit:disabled {
    background-color:#505050;
    color:#858585;
}

QTextEdit {

    background-color:#2b2b2b;
    padding: 1px 0px;
    border: 1px solid #5d5d5d;
    border: 1px solid #545353;
    border-radius:2px;
    spacing: 0px;
    /*font-size:12px;*/
}

QTextEdit[labelClass="readonly"]{

    color:#858585;
}

QTextEdit:disabled {
    background-color:#505050;
    color:#858585;
}


QLabel {
    margin:0px 0px;
    padding:0px 0px;
    /*background-color: #ff0000;*/
/*    font-size:13px;*/

}


QGroupBox  {

    margin:8px 0px 4px 0px;
    padding:13px 10px 10px 10px;
    /*font-size:12px;*/

    border:1px solid #333333;
    border-radius:5px;
    font-weight:bold;
    background-color: None;
}

QGroupBox[labelClass="less_prominent"] {
    color:#858585;
}

QGroupBox[labelClass="no_frame"] {
    margin:0px;
    padding:0px;
    border:None;
}

QGroupBox[labelClass="no_frame_no_label"] {
    margin:0px;
    padding:0px;
    border:None;
}

QGroupBox[labelClass="no_frame_no_label_less_prominent"] {
    margin:0px;
    padding:0px;
    border:None;
    color:#858585;
}

QGroupBox[labelClass="no_frame_less_prominent"] {
    margin:0px;
    padding:0px;
    border:None;
    color:#858585;
}


QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    margin:0px 0px 0px 8px;
}


QPushButton  {
    background-color:#5d5d5d;
    background-image:None;
    border-image:None;
    color:#eeeeee;
    border:none;
    outline:0;
    padding:5px 20px;
    border-radius: 2px;
/*    font-size:13px;*/
}

QPushButton:focus {
    /*border-image: url(ressources/highlight.png) 0 0 0 0 stretch stretch;*/
    background-color:#808080;
}
QPushButton:hover {
    /*border-image: url(ressources/highlight.png) 0 0 0 0 stretch stretch;*/
    background-color:#808080;
}
QPushButton:pressed {
    border-image: None;
}


QPushButton:disabled {
    background-color:#505050;
    color:#858585;
}


QTabBar  {
    border:none;
}

QTabWidget::pane  {
    background-color: #444444;
    border:1px solid #333333;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}


QTabBar::tab {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border:1px solid #333333;
    border-bottom:none;
    padding:3px 10px;
    background-color:#373737;
}

QTabBar::tab:selected {
    background-color:#444444;
    background-color:#777777;
}

QTabWidget::tab-bar {
    background-color:#ff00ff;
}



QSpinBox {
    background-color: #373737;
    padding:0px 0px 1px 0px;
    margin:0px;
    border:1px solid #333333;
}

QSpinBox:disabled {
    color:#666666;
}

QSpinBox::up-button {
    subcontrol-position:top right;
    top:-1px;
    right:-1px;
    image: url(ressources/spin_up.png);
}

QSpinBox::down-button {
    subcontrol-position:bottom right;
    bottom:-1px;
    right:-1px;
    image: url(ressources/spin_down.png);
}


QSpinBox::up-button:disabled {
    image: url(ressources/spin_up_disabled.png);
}

QSpinBox::down-button:disabled {
    image: url(ressources/spin_down_disabled.png);
}


QDoubleSpinBox {
    background-color: #373737;
    padding:0px 0px 1px 0px;
    margin:0px;
    border:1px solid #333333;
}

QDoubleSpinBox:disabled {
    color:#666666;
}

QDoubleSpinBox::up-button {
    subcontrol-position:top right;
    top:-1px;
    right:-1px;
    image: url(ressources/spin_up.png);
}

QDoubleSpinBox::down-button {
    subcontrol-position:bottom right;
    bottom:-1px;
    right:-1px;
    image: url(ressources/spin_down.png);
}


QDoubleSpinBox::up-button:disabled {
    image: url(ressources/spin_up_disabled.png);
}

QDoubleSpinBox::down-button:disabled {
    image: url(ressources/spin_down_disabled.png);
}




QCheckBox {
    spacing: 10px 0px 0px 0px;
/*    font-size:13px;*/
    border:None;
    background-color:None;
}
QCheckBox:checked {
    border:None;
}
QCheckBox::selected {
    border:None;
}


QCheckBox::indicator {
    image: url(ressources/check_unticked.png);
    border: 1px solid #555555;
    /*border: 1px solid #444444;*/
}

QCheckBox::indicator:checked {
    image: url(ressources/check_ticked.png);
}

QCheckBox::indicator:disabled {
    image: url(ressources/check_unticked_disabled.png);
}

QCheckBox::indicator:disabled:checked {
    image: url(ressources/check_ticked_disabled.png);
}

Divider QFrame {
    color:#333333;
    background-color:#333333;
}



QListWidget {
    background-color:#2b2b2b;
    border: 1px solid #545353;
    border-radius:2px;
    outline:0;
}

QListWidget::item QWidget {
    background-color:none;
}

QListWidget::item QComboBox {
    background-color:#5d5d5d;
}

QListWidget::item {
    /*padding: 5px 20px;*/
    padding: 2px 10px;
    margin:0px;
    border-top: 1px solid #393939;

}


QListWidget::item QLabel {
    /*padding: 0px 5px;*/
    padding: 0px;
    margin:0px;
    background-color: None;
}

QListWidget::item ListRow  {
    /*padding: 0px 5px;*/
    padding: 0px;
    margin:0px;
    background-color: none;
}

QListWidget::item ListRow QPushButton {
    margin: 0px 10px;
}

QListWidget::item ListRow QLabel {
    /*padding: 0px 5px;*/
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: None;
}


QListWidget::item:selected {
    background-color:#00a1d1;
    outline:0;
}

QListWidget::item:selected:!focus {
    background-color:#6fa3b3;
    color:#dddddd;
}

QListWidget:disabled {
    color:#666666;
}

QListWidget::item:selected:disabled {
    background-color:#00a1d1;
}

QComboBox {
    background-color:#2b2b2b;
    background-color:#5d5d5d;
    color:#eeeeee;
/*    font-size:13px;*/
    border-radius:2px;
    padding:4px 3px 4px 8px;
}


QComboBox:drop-down{
    border: 2px;
    padding:0px 6px 0px 0px;
}

QComboBox::down-arrow {
    image: url(ressources/combo_arrow.png);
    width: 22px;
    height: 19px;
}

QComboBox QAbstractItemView {
    background-color:#2b2b2b;
}

QComboBox:disabled {
    background-color:#505050;
    color:#858585;
}


QScrollArea {
    border: None;
}



FilterLine ImageLabel[labelClass='searchIcon'] {
    background-color:#2b2b2b;
    padding: 1px 0px;
    border: 1px solid #545353;
    border-radius:2px;
    border-right:none;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
}

FilterLine QLineEdit {
    border-left: none;
    border-right: none;
    padding:0px 0px 1px 3px;
    border-radius:none;
}

FilterLine ImageLabel[labelClass='clearIcon'] {
    background-color:#2b2b2b;
    padding: 1px 0px;
    border: 1px solid #545353;
    border-radius:2px;
    border-left:none;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
}


ListBox QPushButton[labelClass="selectionControl"] {
    background-color: #00a1d1;
    background-color: #666666;
    color: #cccccc;
    font-size:11px;
    padding:2px 3px;
}

ListBox QPushButton:focus[labelClass="selectionControl"] {
    border-image:none;
}
ListBox QPushButton:hover[labelClass="selectionControl"] {
    border-image: url(ressources/highlight.png) 0 0 0 0 stretch stretch;
}
ListBox QPushButton:pressed[labelClass="selectionControl"] {
    background-color: #00a1d1;
}

ListBox QLabel[labelClass="labelSelect"] {
    font-size:11px;
    color:#999999;
}


FileBrowser QLineEdit {
    /*height: 30px;*/
}

FileBrowser QPushButton {
    /*height: 30px;*/
}
